body {
  background-image: url('assets/bgmain.gif');
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.character {
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: 0;
}

#fighter1 {
  right: 0;
}

#fighter2 {
  left: 0;
}

img {
  width: 100%;
  height: auto;
}

.fighter {
  background-size: cover;
}

.health-bar {
  width: 300px;
  height: 20px;
  background-color: #ff0000;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

.health {
  height: 100%;
  background-color: #00ff00;
  width: 100%;
}

.game-title {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: yellow;
  text-shadow: 2px 2px 5px black;
  z-index: 30;
}


.ui-container {
  position: fixed;
  top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 20;
}


.character-selection {
  position: absolute;
  top: 140px;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgba(245, 235, 235, 0.7);
  z-index: 10;
}

.character-card {
  width: 100px;
  height: 150px;
  border: 1px solid white;
  border-radius: 6px;
  background-size: cover;
  cursor: pointer;
}

.timer {
  font-size: 3rem;
  color: rgb(255, 42, 42);
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}

.countdown {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: yellow;
  font-weight: bold;
  display: none;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: rgb(116, 250, 38);
  font-weight: bold;
  display: none;
}

.attack-animation {
  animation: attack 0.3s ease-out;
}

@keyframes attack {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

.selected {
  border-color: gold;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .character {
    width: 150px;
    height: 225px;
  }

  .character-card {
    width: 80px;
    height: 120px;
  }

  .health-bar {
    width: 200px;
    height: 15px;
  }

  .ui-container {
    padding: 0 20px;
  }

  .timer {
    font-size: 1.5rem;
  }

  .countdown {
    font-size: 2rem;
  }

  .game-over {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .character {
    width: 100px;
    height: 150px;
  }

  .character-card {
    width: 60px;
    height: 90px;
  }

  .health-bar {
    width: 150px;
    height: 10px;
  }

  .timer {
    font-size: 1rem;
  }

  .countdown {
    font-size: 1.5rem;
  }

  .game-over {
    font-size: 2rem;
  }
}